h1 {
  color:red;
  font-family:Arial
  height:20px
}

header {
      text-align: center;
      background-color: #000000;
      background: url("http://pluspng.com/img-png/film-reel-png-roddes-movie-and-music-reviews-5672.png");
      background-position: 100% 100%;
      background-repeat: no-repeat;
      color: white;
      }

      a {
        color: red;

      }

      h1 {
        font-size: 70px;
      }

    ul {
      padding: 10px;
      background: black;
    }

    li {
      display: inline;
      padding: 0px 10px 0px 10px;

    }
